<%- include('../../partials/start') %>
  <%- include('../../partials/nav') %>

    <section id="user" class="users section">
      <div class="container mt-5">
        <div class="container section-title">
          <h2>User Profile</h2>
          <p>Edit Account Details</p>
        </div>
      </div>

      <div class="container">
        <form action="/admin/users/create" method="POST" enctype="multipart/form-data">

          <!-- Error Messages -->
          <% if (errors && errors.length> 0) { %>
            <div class="errors text-danger">
              <ul>
                <% errors.forEach(function(error) { %>
                  <li>
                    <%= error.msg %>
                  </li>
                  <% }) %>
              </ul>
            </div>
            <% } %>

              <!-- Upload Picture Field -->
              <div class="row justify-content-center gy-4  mt-1">
                <div class="col-md-6 text-start">
                  <label for="picture" class="form-label">Upload Picture:</label>
                  <div class="input-group input-group-lg mb-3">
                    <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/gif"
                      class="form-control" required>
                  </div>
                </div>
              </div>

              <!-- Product Name Field -->
              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="firstName" class="form-label">First Name:</label>
                  <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First name"
                    required>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="lastName" class="form-label">Last Name:</label>
                  <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last name"
                    required>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="username" class="form-label">Username:</label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="email" class="form-label">Email:</label>
                  <input type="text" name="email" id="email" class="form-control" placeholder="Email" required>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="phone">Phone Number</label>
                  <input type="tel" class="form-control" name="phone" id="phone" pattern="[0-9+ -]+"
                    placeholder="+123456789" required>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="address">Address</label>
                  <textarea class="form-control" name="address" id="address"></textarea>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="password" class="form-label">Password</label>
                  <input id="password" name="password" type="password" class="form-control" required>
                </div>
              </div>

              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-start">
                  <label for="passwordConfirm" class="form-label">Confirm Password</label>
                  <input id="passwordConfirm" name="passwordConfirm" type="password" class="form-control" required>
                </div>
              </div>

              <!-- Submit Button -->
              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-center">
                  <button type="submit">Add</button>
                </div>
              </div>
              <!-- Cancel Button -->
              <div class="row justify-content-center gy-4 mt-1">
                <div class="col-md-6 text-center">
                  <button type="submit">Cancel</button>
                </div>
              </div>
        </form>
      </div>

    </section>


    <%- include('../../partials/end') %>