<%- include('../../partials/start') %>
<%- include('../../partials/nav') %>

<main>
  <!-- Artist Section -->
  <section id="team" class="team section">

    <div class="container mt-5">
      <div class="container section-title">
        <h2>Upload</h2>
        <p>Add Products to your shop</p>

        <div class="text-right mb-4"></div>
        <a href="/admin/products/create" class="btn btn-success">Add New Product</a>
      </div>
    </div>

    <div class="container">
      <div class="row gy-4">
        <% products.forEach(function(product) { %>
        <%- include('../../partials/adminproductpreview', { product: product }) %>
        <% }); %>
      </div>
    </div>
  </section><!-- /Artist Section -->

</main>


<script>
  function addToCart(productId) {
    const quantity = document.getElementById(`quantity-${productId}`).value;
    const productIdValue = document.getElementById(`productId-${productId}`).value;

    axios.post('/cart/add', {
        productId: productIdValue,
        quantity: quantity
      })
      .then(function(response) {
        alert('Product added to cart successfully!');
      })
      .catch(function(error) {
        console.error('There was an error adding the product to the cart!', error);
      });
  }
</script>


<%- include('../../partials/end') %>